<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema Anti-Phishing Inteligente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/icon.png') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-text">
                <h1>Sistema Anti-Phishing Inteligente</h1>
                <p class="subtitle">Analiza una URL y detecta si es phishing</p>
            </div>
            <img src="{{ url_for('static', filename='icon/icon.png') }}" alt="Logo" class="logo">
        </div>

        <input type="text" id="urlInput" placeholder="https://ejemplo.com">
        <button onclick="checkURL()">Analizar</button>

        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>